<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/entityGenerator/src/main/java/jp/co/sunnet/tool/EntityGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="jp.co.sunnet.tool.EntityGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="./sample/sample.xls test.entity ./sample/entitySample"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="entityGenerator"/>
</launchConfiguration>
